In [6]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb

In [2]:
ser = pd.Series(np.random.random(5), name = "Coluna 01")

In [3]:
ser

0    0.517761
1    0.990778
2    0.238047
3    0.223566
4    0.935666
Name: Coluna 01, dtype: float64

In [17]:
ser[2]

0.23804712014457297

In [14]:
t = ['BBDC4.SA', 'ITUB4.SA', 'BBDC3.SA']
dados = wb.DataReader(t, data_source='yahoo', start='2000-1-1')

In [19]:
#t = ['BBDC4.SA', 'ITUB4.SA', 'BBDC3.SA']
dados2 = wb.DataReader(t, data_source='yahoo', start='2016-1-1')

In [20]:
#todos = ['BBDC4.SA', 'ITUB4.SA', 'BBDC3.SA', 'JPMC34.SA', 'ITSA4.SA',
#'ITSA3.SA', 'PRBC4.SA', 'ITUB3.SA', 'SAPR4.SA', 'SAPR3.SA',
#'CPLE6.SA', 'CESP6.SA', 'CPLE3.SA', 'CESP5.SA', 'CESP3.SA']

tickers = ['BBDC4.SA', 'ITUB4.SA', 'BBDC3.SA']
dados = pd.DataFrame()
for t in tickers:
    dados[t] = wb.DataReader(t, data_source='yahoo', start='2000-1-1')['Adj Close']

In [21]:
dados.tail()

             BBDC4.SA   ITUB4.SA   BBDC3.SA
Date
2019-12-02  33.571026  35.279999  31.542749
2019-12-03  33.689999  35.290001  31.389999
2019-12-04  34.560001  36.560001  32.099998
2019-12-05  34.700001  36.509998  32.320000
2019-12-06  34.380001  35.959999  32.200001

In [22]:
dados2.tail()

Attributes  Adj Close                            Close                        \
Symbols      BBDC4.SA   ITUB4.SA   BBDC3.SA   BBDC4.SA   ITUB4.SA   BBDC3.SA
Date
2019-12-02  33.571026  35.279999  31.542749  33.590000  35.279999  31.559999
2019-12-03  33.689999  35.290001  31.389999  33.689999  35.290001  31.389999
2019-12-04  34.560001  36.560001  32.099998  34.560001  36.560001  32.099998
2019-12-05  34.700001  36.509998  32.320000  34.700001  36.509998  32.320000
2019-12-06  34.380001  35.970001  32.209999  34.380001  35.970001  32.209999

Attributes       High                              Low                        \
Symbols      BBDC4.SA   ITUB4.SA   BBDC3.SA   BBDC4.SA   ITUB4.SA   BBDC3.SA
Date
2019-12-02  33.880001  35.520000  31.719999  33.389999  34.840000  31.280001
2019-12-03  34.020000  35.709999  31.660000  33.549999  34.910000  31.200001
2019-12-04  34.560001  36.570000  32.099998  33.700001  35.299999  31.379999
2019-12-05  35.099998  37.070000  32.540001  34.480000  36.299999  31.889999
2019-12-06  35.020000  36.680000  32.840000  34.279999  35.910000  32.180000

Attributes       Open                            Volume
Symbols      BBDC4.SA   ITUB4.SA   BBDC3.SA    BBDC4.SA    ITUB4.SA   BBDC3.SA
Date
2019-12-02  33.470001  34.919998  31.309999  11664800.0  16447900.0  2576500.0
2019-12-03  33.790001  35.590000  31.580000  14647300.0  15999200.0  2194200.0
2019-12-04  33.799999  35.389999  31.450001  16864100.0  34060300.0  5924000.0
2019-12-05  34.599998  36.369999  32.200001  17488200.0  29077100.0  2780700.0
2019-12-06  34.700001  36.500000  32.540001  14981600.0  21525900.0  2251600.0